<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <display-name>ebiz</display-name>
  <description>ebiz base web</description>
  <context-param>
    <param-name>webAppRootKey</param-name>
    <param-value>PersonPosition</param-value>
  </context-param>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>

			/WEB-INF/spring/*Context.xml
		</param-value>
  </context-param>
  <context-param>
    <param-name>log4jConfigLocation</param-name>
    <param-value>/WEB-INF/config/log4j.properties</param-value>
  </context-param>
  <context-param>
    <param-name>log4jRefreshInterval</param-name>
    <param-value>10000</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.security.ui.session.HttpSessionEventPublisher</listener-class>
  </listener>
  <listener>
    <listener-class>com.yf.util.UserImageTempPathDeleteSessionListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.yf.listener.DSInitLisent</listener-class>
  </listener>
  <filter>
    <filter-name>setCharacterEncoding</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>openSessionInViewFilterDelegate</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>
  <filter>
    <filter-name>springSecurityFilterChain</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>
  <filter>
    <filter-name>exitFilter</filter-name>
    <filter-class>com.yf.servlet.filter.ExitFilterChainFilter</filter-class>
  </filter>
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>openSessionInViewFilterDelegate</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>setCharacterEncoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>springSecurityFilterChain</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>exitFilter</filter-name>
    <url-pattern>/img/px</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>ValidateCodeServlet</servlet-name>
    <servlet-class>com.yf.servlet.ValidateCodeServlet</servlet-class>
    <init-param>
      <param-name>width</param-name>
      <param-value>80</param-value>
    </init-param>
    <init-param>
      <param-name>height</param-name>
      <param-value>23</param-value>
    </init-param>
    <init-param>
      <param-name>codeCount</param-name>
      <param-value>4</param-value>
    </init-param>
    <init-param>
      <param-name>leftMargin</param-name>
      <param-value>5</param-value>
    </init-param>
    <init-param>
      <param-name>maxRandomPositionX</param-name>
      <param-value>8</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>FileDownloadServlet</servlet-name>
    <servlet-class>com.yf.servlet.FileDownloadServlet</servlet-class>
    <init-param>
      <param-name>fileNotFoundDefault</param-name>
      <param-value>/hr/img/default_person.gif</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>TempFileServlet</servlet-name>
    <servlet-class>com.yf.servlet.FileDownloadServlet</servlet-class>
    <init-param>
      <param-name>fileStoreBeanId</param-name>
      <param-value>userTempStore</param-value>
    </init-param>
    <init-param>
      <param-name>sessionPath</param-name>
      <param-value>true</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>remoting</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>FCExporter</display-name>
    <servlet-name>FCExporter</servlet-name>
    <servlet-class>com.yf.servlet.FCExporter</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>FCExporter</servlet-name>
    <url-pattern>/FCExporter</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ValidateCodeServlet</servlet-name>
    <url-pattern>/validateCode.gif</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>remoting</servlet-name>
    <url-pattern>/remoting/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FileDownloadServlet</servlet-name>
    <url-pattern>/file/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TempFileServlet</servlet-name>
    <url-pattern>/temp/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UPServlet</servlet-name>
    <servlet-class>com.yf.servlet.UPServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UPServlet</servlet-name>
    <url-pattern>/upServices</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>CXF Servlet</display-name>
    <servlet-name>CXFServlet</servlet-name>
    <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>CXFServlet</servlet-name>
    <url-pattern>/ws/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Phone Servlet</display-name>
    <servlet-name>PhoneServlet</servlet-name>
    <servlet-class>com.yf.servlet.PhoneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhoneServlet</servlet-name>
    <url-pattern>/TruTalkService.asmx/RequestPhoneData</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>UpLoad Servlet</display-name>
    <servlet-name>UpLoadServlet</servlet-name>
    <servlet-class>com.yf.interfaces.commons.UpLoadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpLoadServlet</servlet-name>
    <url-pattern>/upLoadServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>main.action</welcome-file>
  </welcome-file-list>
</web-app>